[run]
source =
    .
branch = True
omit =
    get-pip.py
    */site-packages/*
    */_build/*
    */tests/*
    */docs/*
    */webapp/*
    */.venv/*
    */venv/*

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == "__main__":
    raise NotImplementedError
    except Exception:
    nosec

